main {position: relative;
    .animated-title {
        font-size: 200px;
        font-weight: 400;
        position: relative;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 170px 0;
        overflow-x: hidden;
        overflow-y: hidden;
        border-bottom: 2px solid #000;
        
    }

    .animated-subtitle {
        font-size: 65px;
        font-weight: 300;
        position: relative;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 45px 0;
        overflow-x: hidden;
        overflow-y: hidden;
        
       
    }

    .animated-title .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 30s linear infinite;

    }

    .animated-subtitle .track {
        position: absolute;
        top: 12%;
        white-space: nowrap;
        will-change: transform;
        animation: marqueeR 30s linear infinite;
        border-bottom: 2px solid #000;
        z-index: 1;

    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    @keyframes marqueeR {
        from {
            transform: translateX(-50%);
        }

        to {
            transform: translateX(0);
        }
    }


    .trxVdo {
        width: 732px;
        height: 682px;
        overflow: hidden;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 362px 362px 0 0;
      
    }
    .trxVdo iframe {
        position: absolute;
        bottom: -91px;
        left: 50%;
        transform: translateX(-50%);
     
    }
 
   
   .cover {
   opacity: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index:3;  
        transition: 0.5s;
        
    }
   .cover:hover {
    opacity: 100;
      
        
    }
 

}